core/audio
core/audio2
core/images
ui/correct.mp3
ui/incorrect.mp3
ui/icons
ui/music
utils/__init__.py
utils/__pycache__
ui/__pycache__
ui/__init__.py
app_icon.ico
app_icon.png
core/__init__.py
core/progress.json
core/settings.json
core/words.json
core/__pycache__
ui/dialogs/auth/__pycache__
ui/dialogs/import_export/__pycache__
ui/dialogs/settings/__pycache__
ui/dialogs/statistics/__pycache__
ui/dialogs/word_management/__pycache__
ui/main_window.py
build
dist
Output
venv
SpellingTrainer.spec
Orfokod.spec
Orfocode.spec
ui/dialogs/help/images
ui/dialogs/help/__pycache__
ui/dialogs/__pycache__
ui/dialogs/help/__init__.py
st.code-workspace
ui/interface
